* {
  box-sizing: border-box;
}

#red, #green, #blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#swatch {
  width: 250px;
  margin-top: 18px;
  margin-left: 350px;
  padding: 20px 0;
  background-image: none;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

.select-block {
  position: relative;
  padding: 20px 0 20px 10px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.select-block span {
  position: absolute;
  content: "";
  top: -10px;
  left: 15px;
  z-index: 1;
  background-color: white;
}

button {
  font-size: 1.1em;
  border: 1px solid #C3C3C3;
  border-radius: 5px;
  background-color: #F6F6F6;
  padding: 10px 20px;
  color: black;
}

.active {
  background-color: #4072FE;
  color: white;
}